@use "../../App.scss" as *;
@use "../../partials/fonts";
@use "../../partials/mixins";

.affairs {
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid white;
  }

  &__container-top {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__image {
    width: 7rem;
    border-radius: 4px;
  }

  &__container-bottom {
    display: flex;
  }

  &__card {
    display: flex;
    width: 45vw;
  }

  &__list {
    align-items: center;
    padding-bottom: 0.5rem;
  }

  &__list-item {
    list-style: none;
    text-align: center;
    padding-bottom: 0.25rem;
  }

  &__list-item--name {
    font-size: 1rem;
    list-style: none;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 40vw;
  }
}
